  @import "_variables";

// --> Mixin all

@mixin exchange-block-style() {
  background: $background-default;
}

//link
@mixin link-custom($color) {
  text-decoration: none;
  color: $color;
  &:focus,&:hover{
    text-decoration: underline;
    cursor: pointer;
    color: $color;
  }
}

// tab-in-active
@mixin tab-in-active() {
  background: $tab-in-active-background-color;
  color: $text-default;
  font-size: $font-root;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}
// tab-active
@mixin tab-active() {
  border-bottom: none;
  font-size: $font-small;
  background: transparent;
  font-weight: bold;
  background: transparent;
  color: $color-corn-pale;
  border-bottom: 3px solid $color-corn-pale;
}
// btn-custom
@mixin btn-custom($width, $height, $background, $radius) {
  color: $color-white;
  font-weight: bold;
  width: $width;
  height: $height;
  background: $background;
  border-color: $background;
  border-radius: $radius;
  text-align: center;
  text-transform: capitalize;
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    &:hover, &:focus {
      color: $color-white;
      background: $background;
      border-color: $background;
    }
  }
  &:hover, &:focus {
    color: $color-white;
    background: $background;
    border-color: $background;
  }
}
// title-custom
@mixin title-custom($f-family, $f-size, $color) {
  font-family: $f-family;
  font-size: $f-size;
  color: $color;
  text-transform: capitalize;
}

// reset focus

@mixin reset-focus(){
  &:focus{
    outline: none;
    box-shadow: none;
  }
}

@mixin btn-define() {
  border: 3px solid $color_navy_blue_2;
  border-radius: 50px;
  color: $color_white;
  background-color: $color_navy_blue_2;
  margin: 0px 10px;
  cursor: pointer;
  &:hover, active, focus {
    color: $deep_sapphire;
    background: $color_white;
    text-decoration: none;
  }
}


@mixin btn-default() {
  border: 0px;
}
@mixin background-gradiens() {  
  background: -moz-linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);/* FF3.6+ */
  background: -webkit-linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);/* Chrome,Safari4+ */
  background: -webkit-linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);/* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);/* Opera 11.10+ */
  background: -ms-linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);/* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3023AE', endColorstr='#C86DD7', GradientType='1'); /* for IE */
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);/* W3C */
  background: linear-gradient(134.72deg, #3023AE 0%, #C86DD7 100%);
}

@mixin min-layout-app () {
  max-width: $min-width-app !important;
  min-width: $min-width-app !important;
  margin: 0 auto;
}
@mixin word-break() {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin input-gamelancer ($input) {
  color: $color_white;
  border: 2px solid $border_green;
  background-color: $color_blue_modal;
  &:hover, &:focus, &:active {
    background-color: $color_blue_modal;
    color: $color_white;
    border: 2px solid $color_bright_turquoise;
    opacity: 1;
  }
  &:focus::placeholder {
    color: $color_white;
  }
  @if $input == 'textarea' {
    border-radius: 8px;
  } @else if $input == 'select' {
    border-radius: 20px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("/images/Path.svg") $color_blue_modal no-repeat 94% !important;
    option {
      background: $color_blue_modal;
      color: $color_white;
    }
  }
  @else if $input == 'input' {
    border-radius: 20px;
  }
}
@mixin custom-file-input() {
  position: relative;
  width: 100%;
  top: -33px;
  z-index: 1;
  height: 34px;
  padding: 6px 12px;
  font-weight: 400;
  line-height: 1.6;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 4px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    display: block;
    height: 32px;
    padding: 6px 12px;
    line-height: 1.6;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 4px 4px 0;
  }
}