
@font-face {
  font-family: 'Montserrat-Regular';
  src:  url('fonts/Montserrat-Regular.eot');
  src:  url('fonts/Montserrat-Regular.eot') format('embedded-opentype'),
    url('fonts/Montserrat-Regular.ttf') format('truetype'),
    url('fonts/Montserrat-Regular.woff') format('woff'),
    url('fonts/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}