
@font-face {
  font-family: 'OpenSans-Italic';
  src:  url('fonts/OpenSans-Italic.eot');
  src:  url('fonts/OpenSans-Italic.eot') format('embedded-opentype'),
    url('fonts/OpenSans-Italic.ttf') format('truetype'),
    url('fonts/OpenSans-Italic.woff') format('woff'),
    url('fonts/OpenSans-Italic.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}