
@font-face {
  font-family: 'OpenSans';
  src:  url('fonts/OpenSans.eot');
  src:  url('fonts/OpenSans.eot') format('embedded-opentype'),
    url('fonts/OpenSans.ttf') format('truetype'),
    url('fonts/OpenSans.woff') format('woff'),
    url('fonts/OpenSans.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}